.article-image-gauche {
  margin: var(--espacement-espace) 0;
}
.article-image-gauche__image {
  margin-top: var(--espacement-base);
  display: block;
  width: 400px;
}

.article-image-gauche__image img {
  width: 100%;

  object-fit: cover;
}

.article-image-gauche__contenu {
  margin-top: var(--espacement-base);
  display: flex;
  align-items: center;
}

.article-image-gauche__contenu .conteneur-timbres__timbre {
  height: 490px;
}

.article-image-gauche__contenu .conteneur-timbres {
  border-left: var(--couleur-secondaire) solid 2px;
  padding: 0 var(--espacement-espace);
}
