.atricle-centre {
  display: block;
  justify-items: center;
  padding: var(--espacement-base);
}

.atricle-centre__titre {
  text-align: center;
}

.atricle-centre__inscription {
  margin-bottom: var(--espacement-serre);
}
