.catalogue-enchere__contenu {
  display: flex;
  flex-direction: row;
  margin-top: var(--espacement-tres-espace);
  gap: var(--espacement-espace);
}

@media screen and (max-width: 1150px) {
  .catalogue-enchere__contenu {
    flex-direction: column;
    margin: 0;
  }
}
