/* --- Carte timbre --- */

/*Carte timbre conteneur*/
.conteneur-timbres {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--espacement-espace) var(--espacement-base);
  align-items: center;
  justify-content: center;
}
/*-------------------------------------------------------------------------*/
/*Carte timbre*/
.conteneur-timbres__timbre {
  border: 1px solid var(--couleur-secondaire);
  display: grid;
  grid-template-rows: 4fr 2fr 2fr;
  border-radius: var(--arrondi-petit);
  align-items: start;
  position: relative;
  height: 375px;
}

.conteneur-timbres__timbre:hover .bouton-haut-droite__conteneur {
  display: flex;
}

/*-------------------------------------------------------------------------*/
/*Carte timbre image*/
.conteneur-timbres__timbre__image {
  display: block;
  height: 200px;
  background-color: var(--couleur-fond-accent);
  border-bottom: 1px solid var(--couleur-secondaire);
}
.conteneur-timbres__timbre__image img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/*-------------------------------------------------------------------------*/
/*Carte timbre titre*/
.conteneur-timbres__timbre__titre {
  padding: var(--espacement-tres-serre) var(--espacement-base);
  text-align: center;
  align-content: center;
  height: 100%;
}

/*-------------------------------------------------------------------------*/
/*Carte timbre bas-carte*/
.conteneur-timbres__timbre__bas-carte {
  display: flex;
  flex-direction: column;
  padding: var(--espacement-serre);
  margin: auto 0;
  align-items: center;
}

.conteneur-timbres__timbre__bas-carte__statut {
  font-size: var(--taille-police-moyen);
  font-weight: var(--epaisseur-police-tres-gras);
}
.conteneur-timbres__timbre__bas-carte-enchere__prix {
  font-size: var(--taille-police-moyen);
  font-weight: var(--epaisseur-police-tres-gras);
  color: var(--couleur-principale);
  margin: var(--espacement-base) 0;
}
.conteneur-timbres__timbre__bas-carte-enchere__prix > span {
  font-size: var(--taille-police-moyen);
}

/*-------------------------------------------------------------------------*/

/** Media **/
@media screen and (max-width: 1500px) {
  .conteneur-timbres {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 900px) {
  .conteneur-timbres {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 550px) {
  .conteneur-timbres {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}
