.form {
  margin: var(--espacement-base) auto;
  padding: var(--espacement-espace);
  background-color: var(--couleur-fond);
  border-radius: var(--arrondi-grand);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  line-height: var(--interligne-base);
  background-color: var(--couleur-fond-accent);
}

.form__gauche {
  margin: var(--espacement-base) 0;
  max-width: 1000px;
}

.form__champ {
  display: grid;
  grid-template-columns: 190px 1fr;
  gap: var(--espacement-serre);
  align-items: center;
  margin-top: var(--espacement-base);
}

.form__champ label {
  font-weight: var(--epaisseur-police-tres-gras);
  font-size: var(--taille-police-normal);
}

.form__champ input,
.form__champ select,
.form__champ textarea {
  padding: var(--espacement-serre);
  font-size: var(--taille-police-normal);
  border: 1px solid #ccc;
  border-radius: var(--arrondi-petit);
  background-color: white;
  min-width: 400px;
  max-width: 800px;
}

input[type="checkbox"] {
  width: fit-content;
  height: 20px;
  accent-color: var(--couleur-fonctionnalite);
  cursor: pointer;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked {
  background-color: var(--couleur-fonctionnalite);
  border-color: var(--couleur-fonctionnalite);
  transform: scale(1.1);
}

.form__btn-conteneur {
  display: flex;
  justify-content: flex-end;
  gap: var(--espacement-base);
  margin-top: var(--espacement-espace);
}
/*** form__fieldset ***/
.form__fieldset {
  padding: var(--espacement-base);
  margin-top: var(--espacement-base);
  border: var(--couleur-secondaire) 2px solid;
}

.form__fieldset legend {
  font-size: var(--taille-police-h4);
  font-weight: var(--epaisseur-police-tres-gras);
  padding: 0 var(--espacement-serre);
}

/*** Visuel image ***/
.form__visuel-image {
  position: relative;
  width: fit-content;
  margin-top: var(--espacement-base);
}
.form__visuel-image:hover .bouton-haut-droite__conteneur {
  display: flex;
}

.form__images {
  display: flex;
  gap: var(--espacement-base);
}

.form__image {
  display: block;
  max-width: 200px;
  height: fit-content;
}

.form__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*** Media ***/
@media screen and (max-width: 900px) {
  .form__champ input,
  .form__champ select,
  .form__champ textarea {
    min-width: auto;
  }

  .form__champ {
    grid-template-columns: 1fr;
  }
}
