/* --- Icon --- */

.icon {
  display: block;
  max-width: 45px;
  padding: var(--espacement-serre);
  margin: auto;
}

.icon:hover {
  background-color: var(--couleur-fonctionnalite-hover);
}

/** Variant petit **/
.icon_petit {
  max-width: 25px;
  height: 100%;
}
