/* --- Icon --- */

.icon {
  display: block;
  max-width: 45px;
  padding: var(--espacement-serre);
  margin: auto;
}

.icon:hover {
  background-color: var(--couleur-fonctionnalite-hover);
}

/** Variant petit **/
.icon_petit {
  max-width: 25px;
  height: 100%;
}

/** Variant grand**/
.icon_grand {
  display: block;
  width: 50px;
  margin: auto;
}
.icon-hover-aggrandit {
  transition: transform 0.2s ease;
}
.icon-hover-aggrandit:hover {
  transform: scale(1.2);
}
