.message {
  background-color: var(--couleur-fond-accent);
  padding: var(--espacement-base);
  border-radius: var(--arrondi-petit);
}

.message .icon {
  margin: 0;
}

.message__contenu {
  display: flex;
  gap: var(--espacement-tres-serre);
  align-items: center;
  font-size: var(--taille-police-h4);
  font-weight: var(--epaisseur-police-tres-gras);
  color: var(--couleur-principale);
}

.message__succes {
  color: var(--couleur-succes);
}

.message__erreur {
  color: var(--couleur-erreur);
}

.message__erreur-accent {
  background-color: var(--couleur-erreur);
  color: var(--couleur-fond-accent);
  margin-bottom: var(--espacement-base);
  font-weight: var(--epaisseur-police-tres-gras);
}

.message__information__conteneur {
  display: flex;
  align-items: center;
}

.message__information__image {
  display: block;
  max-width: 200px;
}

.message__information__image img {
  width: 100%;
  object-fit: contain;
}
