.table-mises {
  width: 100%;
  border-collapse: collapse;
}

/* En-tête du tableau */
.table-mises th {
  text-align: left;
  padding: var(--espacement-tres-serre);
  font-weight: bold;
  border-bottom: 2px solid var(--couleur-secondaire);
}

/* Lignes du tableau */
.table-mises td {
  padding: 6px;
  border-radius: var(--arrondi-petit);
  margin-bottom: var(--espacement-tres-serre);
}

/* Option pour survol */
.table-mises tr:hover td {
  background-color: #e8d79d;
  transition: 0.2s;
}

.table-mises [id="derniere"] > * {
  font-weight: var(--epaisseur-police-tres-gras);
}

.table-mises [id="derniere"] > * {
  font-weight: var(--epaisseur-police-tres-gras);
  text-decoration: underline var(--couleur-secondaire);
}
